$super_small_device: 380px;
$small_device: 600px;
$medium_device: 768px;
$large_device: 992px;
$extra_large_device: 1380px;

@mixin super_small_device {
  @media only screen and (max-width: #{$super_small_device}) {
    @content;
  }
}

@mixin extra_small_device {
  @media only screen and (max-width: #{$small_device}) {
    @content;
  }
}

@mixin small_device {
  @media only screen and (min-width: #{$small_device}) {
    @content;
  }
}

@mixin medium_device {
  @media only screen and (max-width: #{$medium_device}) {
    @content;
  }
}

@mixin large_device {
  @media only screen and (max-width: #{$large_device}) {
    @content;
  }
}

@mixin extra_large_device {
  @media only screen and (min-width: #{$extra_large_device}) {
    @content;
  }
}
